@use 'checkbox';
@use 'constants';
@use 'colors';
@use 'typography';

@mixin desktop {
    @media (min-width: #{constants.$desktop}) {
        @content;
    }
}


body {
	font-size: 24px;
	background: colors.$offwhite;
	font-family: typography.$font;
}


.App {
	width: 100%;

	// @include desktop {
	// 	width: 45%;
	// }
	// typography
	font-size: 1em;

	display: flex;
	flex-direction: column;

	header {

		background-color: colors.$primary;
		color: colors.$white;

		border-radius: 15px 15px 0px 0px;
		
		display: flex;
		flex-direction: column;

	}

	article {
		background-color: colors.$white;
		
		flex: auto;
		display: flex;
		flex-direction: column;

		width: 100%;

		padding-top: typography.$padding;
	}

	footer {
		background-color: colors.$primary;
		color: colors.$white;

		border-radius: 15px 15px 0px 0px;
		
		display: flex;
		flex-direction: column;
	}
	
}

// li {
// 	// made list items flex containers
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;

// 	font-size: 24px;
// 	width: inherit;

// 	padding-bottom: typography.$padding;		
// }

input, button {
	font-size: 1em;
	background-color: colors.$primary;
	color: colors.$white;
}

input {
	color: colors.$black;
	background-color: colors.$white;
	font-size: 1em;
}

:focus {
	outline-color: colors.$accent;
}