@use 'constants';

@use 'colors';
@use 'typography';

@use 'checkbox';

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


body {
	font-size: 24px;
	background: $offwhite;	
}


.App {
	width: 100%;

	// @include desktop {
	// 	width: 45%;
	// }
	// typography
	font-family: $font;
	font-size: 1em;

	display: flex;
	flex-direction: column;

	header {

		background-color: $primary;
		color: $white;

		border-radius: 15px 15px 0px 0px;
		
		display: flex;
		flex-direction: column;

	}

	article {
		background-color: $white;
		
		flex: auto;
		display: flex;
		flex-direction: column;

		width: 100%;

		padding-top: $padding;
	}

	footer {
		background-color: $primary;
		color: $white;

		border-radius: 15px 15px 0px 0px;
		
		display: flex;
		flex-direction: column;
	}
	
}

li {
	// made list items flex containers
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 24px;
	width: inherit;

	padding-bottom: $padding;		
}

input, button {
	font-size: 1em;
	background-color: $primary;
	color: $white;
}

input {
	color: $black;
	background-color: $white;
	font-size: 1em;
}

input[type='text'] {
	width: 94%;
}

input[type='checkbox'] {
	width: 4%;
}

:focus {
	outline-color: $accent;
}